**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
checkpoints/
.DS_Store
._.DS_Store
fuse_modules_debug.*
link_module_debug.*
alignment_debug.*
pre_bind_debug.*